@model COM.JOMA.EMP.QUERY.Dtos.TerapistaQueryDto
@{
    string disabled = Model.Id > 0 ? "" : "disabled='disabled'";
    int Estado = Model.Estado == 0 ? 99 : Model.Estado;
}


<style>

    .select2-selection, .select2-selection {
        height: 56px !important; /* Ajusta según el tamaño deseado */
    }

    table#DataTableTerapistas td {
        font-size: 11px !important;
        padding: 5px 8px !important;
        vertical-align: middle !important;
    }
</style>

<div class="modal fade" id="ModalTerapista" tabindex="-1" aria-labelledby="ModalTerapista" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary text-white pt-2 pb-2 m-0">
                <h1 class="modal-title card-title text-center p-0 fs-4" id="">Registo de un Terapista</h1>
                <button type="button" class="btn-close" id="CerrarModal" data-bs-dismiss="modal" onclick="Site.limpiarFormularioById('RegistrarTerapista',event);" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-1 pb-1">
                <div class="card-body">
                    <div class="pt-4 pb-2">
                        <h1 class="card-title text-center pb-0 fs-8">Terapista</h1>
                        <p class="text-center fw-medium">Ingrese los datos personales</p>
                    </div>

                    <form class="row g-3 needs-validation" id="RegistrarTerapista" novalidate>

                        <input type="hidden" name="IdTerapista" for="IdTerapista" value="@Model.Id" id="IdTerapista" />
                        <input type="hidden" name="NombreTerapia" for="NombreTerapia" value="" id="IdTerapista" />
                        <input type="hidden" name="NombreRol" for="NombreRol" value="" id="IdTerapista" />

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="Nombre" value="@Model.Nombre" class="form-control" id="Nombre" placeholder="Nombre" required>
                                <label for="Nombre">Nombre</label>
                                <div class="invalid-feedback">Por favor, ingrese sus nombres.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="Apellido" value="@Model.Apellido" class="form-control" id="Apellido" placeholder="Apellidos" required>
                                <label for="Apellido">Apellidos</label>
                                <div class="invalid-feedback">Por favor, ingrese sus apellidos.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="Cedula" class="form-control" value="@Model.Cedula" id="Cedula" placeholder="Cédula" required>
                                <label for="Cedula">Cédula</label>
                                <div class="invalid-feedback">Por favor, ingrese su cédula.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="email" name="Email" class="form-control " value="@Model.Email" id="Email" placeholder="Email" required>
                                <label for="Email">Correo</label>
                                <div class="invalid-feedback">Por favor, ingrese su correo electrónico.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <select id="Genero" name="Genero" data-bgcolor="blue" data-bgcolor-variation="light" class="form-select select2 select2-with-menu-bg" placeholder="Sucursal" required>
                                </select>

                                <label for="Genero"></label>
                                <div class="invalid-feedback">Por favor, seleccione un género.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                @* <input type="date" name="FechaNacimiento" value="@Model.FechaNacimiento" class="form-control"  id="FechaNacimiento" required> *@
                                <input type="text" name="FechaNacimiento" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" id="FechaNacimiento" class="form-control datepicker" placeholder="Fecha nacimiento" required>
                                <label for="FechaNacimiento">Fecha Nacimiento</label>
                                <div class="invalid-feedback">Por favor, seleccione su fecha de nacimiento.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="number" name="TelefonoContacto" value="@Model.TelefonoContacto" class="form-control" id="TelefonoContacto" placeholder="Teléfono contacto" required>
                                <label for="TelefonoContacto">Teléfono de contacto</label>
                                <div class="invalid-feedback">Por favor, ingrese su teléfono de contacto.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="number" name="TelefonoContactoEmergencia" value="@Model.TelefonoContactoEmergencia" class="form-control" id="TelefonoContactoEmergencia" placeholder="Contacto de emergencia" required>
                                <label for="TelefonoContactoEmergencia">Contacto de emergencia</label>
                                <div class="invalid-feedback">Por favor, ingrese un contacto de emergencia.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <select id="IdSucursal" name="IdSucursal" data-bgcolor="blue" data-bgcolor-variation="light" class="form-select select2 select2-with-menu-bg" placeholder="Sucursal" required>
                                </select>
                                <label for="IdSucursal"></label>
                                <div class="invalid-feedback">Por favor, seleccione una sucursal.</div>
                            </div>
                        </div>

                        <!-- Nuevo campo Tipo de Terapia -->
                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <select id="IdTipoTerapia" name="IdTipoTerapia" data-bgcolor="blue" data-bgcolor-variation="light" class="form-select select2 select2-with-menu-bg" placeholder="Sucursal" required>
                                </select>

                                <label for="IdTipoTerapia"></label>
                                <div class="invalid-feedback">Por favor, seleccione el tipo de terapia.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <select id="Estado" name="Estado" data-bgcolor="blue" data-bgcolor-variation="light" class="form-select select2 select2-with-menu-bg" placeholder="Estado" required>
                                </select>
                                <label for="Estado"></label>
                                <div class="invalid-feedback">Por favor, seleccione un estado</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" name="Direccion" value="@Model.Direccion" placeholder="Dirección" id="Direccion" style="height: 100px;" required></textarea>
                                <label for="Direccion">Dirección</label>
                                <div class="invalid-feedback">Por favor, ingrese su dirección.</div>
                            </div>
                        </div>
                        <div class="text-center">
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Site.limpiarFormularioById('RegistrarTerapista');" data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                <button type="button" onclick="Terapista.GuardarDatos('RegistrarTerapista',event, @Model.Id);" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@if (Model.Id > 0)
{
    <script type="text/javascript">
        Terapista.InitSelect2('IdSucursal', 'Seleccione una Sucursal', Terapista.CmbSucursales, '@Model.IdSucursal');
        Terapista.InitSelect2('Genero', 'Seleccione un género', Terapista.CmbGenero, '@Model.Genero');
        Terapista.InitSelect2('IdTipoTerapia', 'Seleccione un tipo', Terapista.CmbTipoTerapista, '@Model.IdTipoTerapia');
        Terapista.InitSelect2('Estado', 'Seleccione un Estado', Terapista.CmbEstado, '@Estado');
        Terapista.AsiganarValorDireccion('@Model.Direccion');
        Terapista.InitDataPicker();
    </script>

}



